*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
  color: white;
  height:  auto;
  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
}

html{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  height:  auto;
  font-size: 62.5%;
}


.App {
  text-align: center;
}

.App-logo {
  height: 35px;
  pointer-events: none;
}

.App-header {
  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbarRS{
  background: #F1E6B2;
}

.navbarBrandPS{
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* New part */
.playlistsThumbnails{
  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
  min-height: 100vh;
  display: flex;
 /*flex-direction: column;*/
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  font-size: 2rem;
  color: white;
  max-width: 80%;
}

.playlistThumbnail{
  flex-grow: 1; 
  max-width: 15vw;
  height: 30vh;
  margin: 5vw;
}

.playlistThumbnail img{
  height: 20vh;
  width: 20vh;
  object-fit: fill;
}

.playlistThumbnail p{
  max-width: 100%;
  max-height: 50%;
  overflow: hidden;
}


