*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
  color: white;
  height:  auto;
/*  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
}

html{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  height:  auto;
  min-width: 600px; /* Beware for Responsive !! */
  font-size: 62.5%;
  overflow: scroll;
}

body{
  /*
  background: rgb(253,29,29);
  background: linear-gradient(286deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%); 
  */
  /*background-image: linear-gradient(to right bottom, #f1e6b2, #f0dba7, #eecf9d, #edc494, #ebb88d, #e6ba88, #e1bc83, #dabf7f, #c5d189, #a9e1a1, #87f0c5, #5ffbf1);*/
  background: rgb(241,230,178);
background: linear-gradient(137deg, rgba(241,230,178,1) 30%, rgba(255,225,238,1) 100%);
}


.App {
  text-align: center;
}

.App-logo {
  height: 35px;
  pointer-events: none;
}

.App-header {
 /* background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
.navbarRS{
  background: #F1E6B2;
}
*/

.navbarBrandPS{
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* New part */
.playlistsThumbnails{
/*  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
   min-height: 100vh;
  display: flex;
 /*flex-direction: column;*/
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  font-size: 2rem;
  color: white;
  max-width: 80%;
/*
  background: rgb(253,29,29);
  background: linear-gradient(286deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%); 
*/
}

.playlistThumbnail{
  flex-grow: 1; 
  max-width: 15vw;
  height: 30vh;
  margin: 5vw;
}

.playlistThumbnail img{
  height: 20vh;
  width: 20vh;
  object-fit: fill;
}

.playlistThumbnail p{
  max-width: 100%;
  max-height: 50%;
  overflow: hidden;
}

/* Table with Tracks */
.tableTracks{
  width: 80vw;
}

.albumThumbnail{
  height: 10rem;
}

.filterPanel{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
}


/* Charts */
.charts{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-evenly;
  position: relative; 
  height:30vh; 
  width: 900px;
  /*background: linear-gradient(to right, #dc2e2e, #e74d49, #f16764, #f9807e, #ff9898);*/
}

.chart{
  margin: 1vh 0.5vw;
  padding: 1vh 0.5vw;
  display: flex;
  font-size: 2rem;
  width: 400px;
}

.chartLabel{
  transform: rotate(-90deg) translateX(-6rem);
  height: 3rem;
  background: transparent;
  margin: 0 0 -3rem 0;
}

.chart:nth-of-type(1) {
  background-image: linear-gradient(to right, #6bdc2e, #78e54e, #85ee69, #93f781, #a1ff98);
}

.chart:nth-of-type(2) {
  background-image: linear-gradient(to right, #2e72dc, #4e7ee5, #678aed, #7c96f6, #90a3ff);
}

.chart:nth-of-type(3) {
  background-image: linear-gradient(to right, #e95c02, #ee7d22, #f49a40, #f9b55f, #ffce81);
}







/*
.chart{
}
*/
