*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
  color: white;
  height:  auto;
/*  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
}

html{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  height:  auto;
  min-width: 600px; /* Beware for Responsive !! */
  font-size: 62.5%;
  overflow: scroll;
}

body{
  /*
  background: rgb(253,29,29);
  background: linear-gradient(286deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%); 
  */
  /*background-image: linear-gradient(to right bottom, #f1e6b2, #f0dba7, #eecf9d, #edc494, #ebb88d, #e6ba88, #e1bc83, #dabf7f, #c5d189, #a9e1a1, #87f0c5, #5ffbf1);*/
  /*background: rgb(30,35,52);
  background: linear-gradient(90deg, rgba(30,35,52,1) 0%, rgba(86,108,244,1) 100%);*/
  background: rgb(30,35,52);
  background: linear-gradient(90deg, rgba(30,35,52,1) 0%, rgba(85,107,242,1) 50%, rgba(169,80,254,1) 100%);  
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.App {
  text-align: center;
}

.App-logo {
  height: 35px;
  pointer-events: none;
}

.App-header {
 /* background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
.navbarRS{
  background: #F1E6B2;
}
*/

.navbarBrandPS{
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* New part */
.playlistsThumbnails{
/*  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
   min-height: 100vh;
  display: flex;
 /*flex-direction: column;*/
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  font-size: 2rem;
  color: white;
  max-width: 80%;
/*
  background: rgb(253,29,29);
  background: linear-gradient(286deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%); 
*/
}

.playlistThumbnail{
  flex-grow: 1; 
  max-width: 15vw;
  height: 30vh;
  margin: 5vw;
}

.playlistThumbnail img{
  height: 20vh;
  width: 20vh;
  object-fit: fill;
}

.playlistThumbnail p{
  max-width: 100%;
  max-height: 50%;
  overflow: hidden;
}

/* Tracklist */
.tracklist{
  max-width: 1200px;
}

/* Table with Tracks */
.tableTracks{
  width: 100%;
  font-size: 2.5rem;
  margin: 2rem 0;
}

.albumThumbnail{
  height: 10rem;
}

.filterPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 97%;
  border-radius: 5rem;
  margin: auto;
  background: #2C3049;
}

/* Charts */
.charts{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-evenly;
  position: relative; 
  height:30vh; 
  width: 100%;
  /*background: linear-gradient(to right, #dc2e2e, #e74d49, #f16764, #f9807e, #ff9898);*/
}

.chart{
  margin: 1vh 0.5vw;
  padding: 1vh 2vw 1vh 1vw;
  width: 27%;
  height: 20vh; 

  border-radius: 2.5rem;
}

/*
.chartLabel{
  transform: rotate(-90deg) translateX(-6rem);
  height: 3rem;
  background: transparent;
  margin: 0 0 -3rem 0;
}
*/

.chart:nth-of-type(1) {
  background-image: linear-gradient(to right, #6bdc2e, #78e54e, #85ee69, #93f781, #a1ff98);
}

.chart:nth-of-type(2) {
  background-image: linear-gradient(to right, #2e72dc, #4e7ee5, #678aed, #7c96f6, #90a3ff);
}

.chart:nth-of-type(3) {
  background-image: linear-gradient(to right, #e95c02, #ee7d22, #f49a40, #f9b55f, #ffce81);
}


/* Sliders */
.sliders{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: space-evenly;
  font-size: 2rem;
  /*max-width: 1000px;*/
}

.sliderPerso{
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 30px 2vw;
  align-items: center;
  justify-content: space-evenly;
}

.sliderSideButtons{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 2vw;
  width: 12rem;
}

.genreButtons{
  display: flex;
  flex-direction: column;
}

.buttonToggle{
  margin: 1rem 0;
  border-radius: 2.5rem;
}

.reverse{
  height: 5rem; 
  font-size: 2rem;
}

.reverse+.active{
  background-color: #272822;
}

.buttonPlaylits{
  height: 5rem; 
  font-size: 10rem;
}

/*
.sliderName{
  font-size: 2rem;
}
*/

/**
* Rangeslider
*//*
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle .rangeslider__active {
  opacity: 1;
}
.rangeslider .rangeslider__handle-tooltip {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.rangeslider .rangeslider__handle-tooltip span {
  margin-top: 12px;
  display: inline-block;
  line-height: 100%;
}
.rangeslider .rangeslider__handle-tooltip:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}*/
/**
* Rangeslider - Horizontal slider
*//*
.rangeslider-horizontal {
  height: 12px;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #7cb342;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.rangeslider-horizontal .rangeslider__handle:after {
  content: ' ';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: #dadada;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
}
.rangeslider-horizontal .rangeslider__handle-tooltip {
  top: -55px;
}
.rangeslider-horizontal .rangeslider__handle-tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0);
}*/
/**
* Rangeslider - Vertical slider
*//*
.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width: 10px;
  background-color: transparent;
}
.rangeslider-vertical .rangeslider__fill,
.rangeslider-vertical .rangeslider__handle {
  position: absolute;
}
.rangeslider-vertical .rangeslider__fill {
  width: 100%;
  background-color: #7cb342;
  box-shadow: none;
  bottom: 0;
}
.rangeslider-vertical .rangeslider__handle {
  width: 30px;
  height: 10px;
  left: -10px;
  box-shadow: none;
}
.rangeslider-vertical .rangeslider__handle-tooltip {
  left: -100%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.rangeslider-vertical .rangeslider__handle-tooltip:after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgba(0, 0, 0, 0.8);
  left: 100%;
  top: 12px;
}
*/
/**
* Rangeslider - Reverse
*/
/*
.rangeslider-reverse.rangeslider-horizontal .rangeslider__fill {
  right: 0;
}
.rangeslider-reverse.rangeslider-vertical .rangeslider__fill {
  top: 0;
  bottom: inherit;
}
*/
/**
* Rangeslider - Labels
*/
/*
.rangeslider__labels {
  position: relative;
}
.rangeslider-vertical .rangeslider__labels {
  position: relative;
  list-style-type: none;
  margin: 0 0 0 24px;
  padding: 0;
  text-align: left;
  width: 250px;
  height: 100%;
  left: 10px;
}
.rangeslider-vertical .rangeslider__labels .rangeslider__label-item {
  position: absolute;
  transform: translate3d(0, -50%, 0);
}
.rangeslider-vertical .rangeslider__labels .rangeslider__label-item::before {
  content: '';
  width: 10px;
  height: 2px;
  background: black;
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.rangeslider__labels .rangeslider__label-item {
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  top: 10px;
  transform: translate3d(-50%, 0, 0);
}
*/