/* Transition Group Animations */
.playlistAppear-enter {
  opacity: 0;
  transform: scale(0.98) translateY(7px);
}
.playlistAppear-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 750ms ease-out 300ms;
}
.playlistAppear-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.playlistAppear-exit-active {
  opacity: 0;
  transform: scale(0.98) translateY(-7px);
  transition: all 750ms ease-out 100ms;
}

/* Range Panel*/
.panel-appear-enter {
  opacity: 0;
  transform: scale(0.98) translateY(7px);
}
.panel-appear-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 750ms ease-out 300ms;
}
.panel-appear-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.panel-appear-exit-active {
  opacity: 0;
  transform: scale(0.98) translateY(-7px);
  transition: all 750ms ease-out 100ms;
}

