*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: white;
  height:  auto;
/*  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
}

html{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  height:  auto;
  min-width: 600px; /* Beware for Responsive !! */
  font-size: 62.5%;
  overflow: scroll;
}

body{
  /*
  background: rgb(253,29,29);
  background: linear-gradient(286deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%); 
  */
  /*background-image: linear-gradient(to right bottom, #f1e6b2, #f0dba7, #eecf9d, #edc494, #ebb88d, #e6ba88, #e1bc83, #dabf7f, #c5d189, #a9e1a1, #87f0c5, #5ffbf1);*/
  /*background: rgb(30,35,52);
  background: linear-gradient(90deg, rgba(30,35,52,1) 0%, rgba(86,108,244,1) 100%);*/
  background: rgb(30,35,52);
  background: linear-gradient(135deg, rgba(30,35,52,1) 0%, rgba(85,107,242,1) 50%, rgba(169,80,254,1) 100%);  
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.App {
  text-align: center;
}

.App-logo {
  height: 10vw;
  max-height: 6.5rem;
  min-height: 4rem;
  pointer-events: none;
  margin: 1rem;
}

.App-header {
 /* background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
  min-height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Login */
.content{
  border-radius: 20px;
  max-width: 700px;
  height: auto;
  max-height: 87vh;
  margin: 2rem;
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 255, .2);
  margin: 4rem;
  padding: 3rem;
}

.titleInit{
  padding: 1rem;
}

.instruction1,
.instruction2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction1 div,
.instruction2 div{
  width: 300px;
  height: fit-content;
  font-size: 1.5rem;
  background-color: #323D79;
  margin: 1rem;
  padding: 3rem;
  border-radius: 30px;
  box-shadow: 0px 3px 2px 1px#9E54FD;
}

.instruction2 div{
  text-align: left;
  width: 450px;
  background-color: #9E54FD;
  box-shadow: 0px 3px 2px 1px#323D79;
}

.instruction1 img,
.instruction2 img{
  width: 100%;
  opacity: 0.85;
  margin: 3rem;
}

.modal{
  color: black;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}

.carousel-inner a{
  background-color: dark;
}

/* Button 1 */
/* General button style (reset) */
/* https://tympanus.net/Development/CreativeButtons/ */
/*
.btnEx {
	border: none;
	font-family: inherit;
	font-size: 5rem;
	color: #EEEEEE;
	background: #323D79;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btnEx:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btnEx-1 {
	border: 3px solid #fff;
	color: #fff;
}

.btnEx-1e {
	overflow: hidden;
}

.btnEx-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btnEx-1e:hover,
.btnEx-1e:active {
	color: #0e83cd;
}

.btnEx-1e:hover:after {
	height: 260%;
	opacity: 1; 
}

.btnEx-1e:active:after {
	height: 400%;
	opacity: 1;
}
*/
/*
.navbarRS{
  backgropx;und: #F1E6B2;
}
*/

.navbarBrandPS{
  color:white;
}

.backButton{
  width: 120px;
  animation: objAppear 0.5s;
}

.backButton:hover{
  cursor: pointer;
}

@keyframes objAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}


.backButton img{
  width: 100%;
}

.redirectPlaylists{
  min-height: 95vh;
  min-width: 600px;
  max-width: 1200px;

  margin: auto;
}

/* New part */
.playlistsThumbnails{
  /*  background-color: #F1E6B2; /* Find another color PANTONE 12-0804 TCX */
  min-height: 95vh;
  min-width: 600px;
  max-width: 90%;
  display: flex;
 /*flex-direction: column;*/
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  font-size: 2rem;
  color: white;
  margin: auto;
/*
  background: rgb(253,29,29);
  background: linear-gradient(286deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%); 
*/
}

.wrapPlaylist{
  background-color: #2C3049;
  border-radius: 35px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  max-width: 300px;
  width: 15vw;
  min-width: 17rem;
  height: fit-content;
  /*width: 50%;*/
  flex: 1 0 33%;
  margin: 2vw 2vh;

  box-shadow:
  0 1.4px 1.1px rgba(0, 0, 0, 0.034),
  0 3.3px 2.6px rgba(0, 0, 0, 0.048),
  0 6.2px 5px rgba(0, 0, 0, 0.06),
  0 11.1px 9px rgba(0, 0, 0, 0.072),
  0 20.9px 16.7px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
}

.playlistThumbnail{
  /*width: 50rem;
  max-width: 15vw;
  height: 30vh;
  margin: 5vw;*/
  width: 80%;
  height: 90%;
  margin: 10%;
}

.playlistThumbnail img{
  width: 100%;
  object-fit: fill;
  border-radius: 0.3rem;
}

.playlistThumbnail p{
  max-width: 95%;
  max-height: 50%;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  margin: 2rem 0rem;
}

/* Tracklist */
.tracklist{
  width: 95%;
  max-width: 1400px;
}

/* Table with Tracks */
.tableTracks{
  min-width: 300px;
  max-width: 800px;
  font-size: 2.5rem;
  margin: auto;
  margin-top: 2rem;
  margin-left: 4rem;
  color: #EEEEEE;
}

.tableTrack{
  width: 40vw;
  min-width: 250px;
  max-width: 600px;
}

.playlistName{
  font-size: 1.5rem;
  color: #323D79;
}

/*
.row:hover > .albumThumbnail{ 
  transform: scale(1.07); 
  transition: transform 250ms ease-in-out 50ms;
}
*/

.playlistPage{
  display: flex;
  flex-direction: row;
}

.nothingToShow{
  height: 87vh;
  width: 90vw;
  min-width: 600px;
  max-width: 1200px;
}

.nothingToShow img{
  width: 80%;
  margin-top: 15vh;
}


@media screen and (max-width: 1050px) {
  .playlistPage{
    display: flex;
    flex-direction: column;
  }

  .tableTracks{
    margin: auto;
    margin-top: 5rem;
  }

  .filterPanel{
    max-width: 600px;
  }
}

.hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid gainsboro;
  margin: 0 0;
  margin-top: -3rem;
  margin-bottom: 3rem;
  padding: 0;
  opacity: 0.8;
}

.tableLine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.track{
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.trackName{
  font-size: 1.8rem;
  color: white;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trackArtist{
  font-size: 1.5rem;
  color: #EEEEEE;
  text-align: left;
}

.albumThumbnail{
  height: 8rem;
  border-radius: 1rem;
  margin: 1rem;
  /*margin-right: 2rem;*/
}

.albumThumbnail:hover{ 
  transform: scale(1.07); 
  transition: transform 250ms ease-in-out 50ms;
}

.previewPlayer{
  width: 60px;
  height: 60px;
  margin: 0.5rem;
  margin-left: 10rem;
}

.pause{
  background: url("pause.svg") no-repeat;
  opacity: 0.9;
  z-index: 10;
}

.play{
  background: url("play.svg") no-repeat;
  opacity: 0.9;
  z-index: 10;
}

.filterPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 95%;
  min-width: 590px;
  border-radius: 5rem;
  margin: auto;
  background: #2C3049;

  font-size: 2.5rem;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  
}

.filterPanel p{
  margin: 1rem;
  color: #EEEEEE;
}

.titlePanel{
  background: rgb(30,35,52);
  background: linear-gradient(135deg, #EEEEEE 0%, rgba(85,107,242,1) 50%, rgba(169,80,254,1) 100%);  
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Charts */
.charts{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-evenly;
  position: relative; 
  height:25vh; 
  width: 100%;
  /*background: linear-gradient(to right, #dc2e2e, #e74d49, #f16764, #f9807e, #ff9898);*/
}

.chart{
  margin: 1vh 0.5vw;
  padding: 1vh 2vw 1vh 1vw;
  width: 27%;
  height: 17vh; 

  border-radius: 2.5rem;
}

/*
.chartLabel{
  transform: rotate(-90deg) translateX(-6rem);
  height: 3rem;
  background: transparent;
  margin: 0 0 -3rem 0;
}
*/

.chart:nth-of-type(1) {
  background-image: linear-gradient(to right, #6bdc2e, #78e54e, #85ee69, #93f781, #a1ff98);
}

.chart:nth-of-type(2) {
  background-image: linear-gradient(to right, #2e72dc, #4e7ee5, #678aed, #7c96f6, #90a3ff);
}

.chart:nth-of-type(3) {
  background-image: linear-gradient(to right, #e95c02, #ee7d22, #f49a40, #f9b55f, #ffce81);
}


/* Sliders */
.sliders{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: space-evenly;
  font-size: 2rem;
  /*max-width: 1000px;*/
}

.sliderPerso{
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 2rem 2vw;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.75rem;
}

.sliderSideButtons{
  /*height: 250px;*/

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  width: 95%;
  height: 5rem;
}

.genreButtons{
  display: flex;
  flex-direction: column;
}

.buttonToggle{
  border-radius: 25px;
  width: fit-content;
  height: 5rem;
}

.buttonToggle img{
  height: 80px;
  margin-top: -2rem;
}

.reverse{
  height: 5rem; 
  font-size: 2rem;
}

.reverse+.active{
  background-color: #272822;
}

.buttonPlaylits{
  height: 5rem; 
  font-size: 10rem;
}

.labelsRange{
  font-size: 1.3rem;
  color: #d2afff;
}

footer{
  display: inline-block;
  position: fixed;
  bottom: 120px;
  right: -120px;
  transform: rotate(-90deg);
}

.line{
  display: inline-block;
  width: 3rem;
  height: 0.05rem;
  background: white;
  margin-bottom: 0.3rem;
  margin-right: 0.4rem;
}

.footLink{
  margin: 0.5rem;
  transform: rotate(90deg);
}

.questionMark{
  width: 2.4rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid white;
}

.questionMark:hover{
  background:lightgrey;
}

.loadMore{
  color: lightgrey;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  opacity: 0.15;
  text-shadow: 3px 3px 3px #000000;
  margin: 2.5rem;
  cursor: pointer;
}

